module.exports = {
  theme: {
    extend: {
      colors: {
        primary: '#4f46e5', // Indigo
        secondary: '#9333ea', // Purple
        accent: '#f43f5e', // Pink
        lightBg: '#f5f5f5', // Light gray background
        darkText: '#1f2937', // Dark text
      },
      fontFamily: {
        sans: ['Poppins', 'sans-serif'],
      },
      boxShadow: {
        soft: '0 4px 12px rgba(0,0,0,0.1)',
        hover: '0 8px 24px rgba(0,0,0,0.2)',
      },
    },
  },
  plugins: [],
}
